
    .active{
        background-color: green;
    }
    .activeInf{
       display: block;
       margin: auto;
        border: 1px solid white;
        padding: 30px;
        font-size: 40px
    }
    body{
        background-color: rgb(122, 122, 122);
    }
    .header{
        font-size: 60px;
        color: #369;
        border-bottom: #367 solid 1px;
    }
    .form{
        margin-top: 5%;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}
    .form_log, .form_reg{
        box-shadow: 2px 2px 1px 1px black;
        width: 30%;
        font-size: 30px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}
    .form_log-header, .form_reg-header{
        margin-bottom: 40px;
        font-size: 60px;
        border-bottom: 1px solid rgb(255, 255, 255);
        color: rgb(39, 73, 112);        
}
    input{
        margin-bottom: 40px;
        height: 40px;
        border-radius: 3px;
        font-size: 30px;
    }
    select{
        margin-bottom: 40px;
        height: 40px;
        border-radius: 3px;
        font-size: 30px;
    }
    .btn_login, .btn_reg{
        height: 80px;
        color: #365;
        font-size: 40px;
        text-align: center;
        padding: 10px;
    }
    .contact_form{
        margin-top: 5%;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contact{
        padding: 20px;
        width: 20%;
        border: 1px solid whitesmoke;
        border-radius: 2px;
        box-shadow: 2px 2px 1px 1px black;
    }
    .contentContact{
        padding: 20px;
        border: 1px solid whitesmoke;
        border-radius: 2px;
        box-shadow: 2px 2px 1px 1px black;
        width: 30%;
    }
    .addContact{
        color: #369;
        padding: 20px;
        border: 1px solid whitesmoke;
        border-radius: 2px;
        box-shadow: 2px 2px 1px 1px black;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 24px;
    }
    .showBtn{
        text-align: center;
        width: 20%;
        height: 100%;
  
        cursor: pointer;
    }
    .con{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-size: 48px;
        color: #369;
        border: 1px solid white;
        margin-top: 20px;
    }
    .btn_add{
        width: 100px;
        height: 50px;
        color: #365;
        font-size: 24px;
        text-align: center;
        padding: 10px;
        
    }
    .inf{
        display: none;
        margin: auto;
        border: 1px solid white;
        padding: 30px;
        font-size: 40px
    }
    .name, .type, .value{
        margin-bottom: 10px
    }
    .exit{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }